body {
    background-color: white;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    color: aliceblue;
    background-color: aliceblue;
}

#search {
    height: 55px;
    margin-top: 6px;
    margin-left: 6px;
}

#search2 {
    height: 55px;
    margin-top: 6px;
}

.template {
    margin-left: 5px;
}

#inicio {
    background-color: palegreen;
    font-size: 30px;
}

#inicio2 {
    margin-top: 2px;
}

#aluguel {
    font-size: 22px;
    margin-right: 10px;
    background-color: dodgerblue;
}

#ofertas {
    font-size: 22px;
    background-color: coral;
    margin-right: 10px;
}

#carros-dis {
    font-size: 22px;
    background-color: khaki;
    margin-right: 10px;
}

#planos {
    font-size: 22px;
    background-color: seagreen;
}

#ajuda {
    font-size: 22px;
    background-color: thistle;
    margin-left: 10px;
}

#contato {
    font-size: 22px;
    background-color: lightsalmon;
    margin-left: 10px;
}

#login-btn {
    font-size: 22px;
    background-color: #3A86FF;
    margin-left: 10px;
}

#login1 {
    color: #FDF0D5;
}

/* #planos2, #aluguel2, #ofertas2, #carros2, #ajuda2, #contato2, #login2 {
    margin-top: 5px;
    color: black;
    font-size: 35px;
} */

#second-nav {
    /* width: 9999px; */
    /* margin-left: 600px; */
    margin-bottom: 20px;
    font-size: 15px;
    display: flex;
}

.fa-user,
.fa-car,
.fa-dollar-sign,
.fa-table-list,
.fa-percent,
.fa-phone,
.fa-circle-question,
.fa-house,
.fa-right-from-bracket,
.fa-right-to-bracket,
.fa-key,
.fa-magnifying-glass {
    margin-right: 7px;
}

#forgotPassword {
    margin-top: 8px;
    margin-left: 30px;
}

#submitBtn {
    width: 200px;
    margin-top: -10px;
    background-color: white;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    color: rgb(255, 102, 0);
    font-size: 16px;
    cursor: pointer;
}

#registro {
    margin-top: 15px;
    width: 450px;
}

#exampleInputEmail1,
#exampleInputPassword1 {
    width: 450px;
    margin-bottom: 20px;
}

#typePassword {
    display: flex;
}

#createAcc {
    background-color: rgb(255, 102, 0);
    color: white;
    width: 450px;
}

#eye-btn {
    background-color: white;
    margin-bottom: 16px;
}

#registerForm {
    margin: 30px 200px 0px 709px;
}

#register-btn {
    margin-top: 10px;
    margin-left: 145px;
    width: 220px;
    background-color: rgb(255, 102, 0);
    color: white;
}

#contact-btn {
    margin-right: 5px;
}

#hr {
    margin-top: 20px;
    margin-right: 920px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 450px;
    margin-top: 20px;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1200px;
    height: 1px;
    background: rgb(255, 102, 0);
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

#login {
    margin: 50px 0px 0px 800px;
}

.cards {
    display: flex;
    border-radius: 5%;
    margin-left: 297px;
}

.card-aluguel,
.card-ofertas,
.card-carros {
    margin: 20px 5px 0px 40px;
    width: 600px;
    border-radius: 5%;
    height: 400px;
}

#aluguel2,
#ofertas2,
#carros2 {
    color: aliceblue;
    font-size: 35px;
    text-align: center;

}

#planos2,
#ajuda2,
#contato2 {
    color: aliceblue;
    font-size: 39px;
    text-align: center;
}

/* 
.card-img-top {
    border-radius: 5%;
} */

.card-img-top {
    width: 600px;
    height: 300px;
}

.car-cards {
    display: flex;
    border-radius: 5%;
    margin-left: 97px;
}

.card-carros {
    margin: 20px 5px 0px 40px;
    width: 500px;
    border-radius: 5%;
    height: 400px;
}

.car-card-img-top {
    width: 500px;
    height: 300px;
}

#car2 {
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

.modal {
    margin-top: 200px;
    opacity: inherit !important;
}

.modal-css {
    margin-top: 500px;
    justify-content: center;
    opacity: 50% !important;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

#header2 {
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: aliceblue;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 4s;
}

#check {
    display: none;
}

#rent-card {
    width: 700px;
    margin: 100px 0px 0px 700px;
    background-color: #063146;
    height: 500px;
    border-radius: 5%;
    justify-content: center;
}

#rent-form {
    margin-left: 126px;
}

#rent-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #03045E;
    margin: -30px 160px 0px 0px;
}

#capital-input {
    margin-bottom: 20px;
}

.grid-container {
    margin-left: 229px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
}