body {
    background-color: white;
    background-image: url('../img/alugue-seu-carro.jpeg');
    background-color: #063146;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
}

ul li:hover a {
    padding-left: 50px;
}

ul a i {
    margin-right: 16px;
}

#check:checked~.sidebar {
    left: 0;
}

section img {
    background: no-repeat;
    margin-left: 50px;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card {
    background: #063146;
    height: 450px;
    width: 261px;
    margin: 10px;
    border-radius: 15px;
    color: aliceblue;
}


.card:hover {
    background-color: aliceblue;
    color: #063146;
    transform: scale(1.03);
}

.card-image {
    background-color: #063146;
    border-radius: 15px 15px 0 0;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}

#card-img {
    margin-left: -1px;
    height: 170px;
    margin-bottom: 15px;
    justify-content: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
}

.form-control {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.fa-user,
.fa-car,
.fa-dollar-sign,
.fa-table-list,
.fa-percent,
.fa-phone,
.fa-circle-question,
.fa-house,
.fa-right-from-bracket,
.fa-right-to-bracket,
.fa-key,
.fa-magnifying-glass {
    margin-right: 7px;
}

#forgotPassword {
    margin-top: 8px;
    margin-left: 30px;
}

#submitBtn {
    width: 200px;
    margin-top: -10px;
    background-color: white;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 5px;
    color: rgb(255, 102, 0);
    font-size: 16px;
    cursor: pointer;
}

#registro {
    margin-top: 15px;
    width: 450px;
}

.modal {
    margin-top: 200px;
    opacity: inherit !important;
}

.modal-css {
    margin-top: 500px;
    justify-content: center;
    opacity: 50% !important;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

#header2 {
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: aliceblue;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 4s;
}

#rent-card {
    width: 700px;
    margin: 100px 0px 0px 700px;
    background-color: #063146;
    height: 500px;
    border-radius: 5%;
    justify-content: center;
}

#rent-form {
    margin-left: 126px;
}

#rent-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #03045E;
    margin: -30px 160px 0px 0px;
}

#capital-input {
    margin-bottom: 20px;
}

.grid-container {
    margin-left: 229px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
}

#selectCars {
    background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 20px 50px;
}

#card-rent-car-img {
    margin-left: -1px;
    height: 235px;
    margin-bottom: 15px;
    justify-content: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
}

.card-rent-car {
    background: #063146;
    width: 362px;
    margin: 10px;
    border-radius: 15px;
    color: aliceblue;
    height: auto;
}

.card-rent-car h2 {
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.card-rent-car h4 {
    margin-left: 15px;
}

.card-no-rent {
    background-color: #0a5275;
    width: 500px;
    padding: 25px;
    margin: 50px 0px 0px 690px;
    border-radius: 5%;
}

.card-no-rent h1 {
    color: aliceblue;
    text-align: center;
}

#btn-reservar {
    margin-left: 130px;
    width: 200px;
    height: 100px;
    margin-top: 30px;
    font-size: 35px;
}

.card-my-rents {
    background-color: #0a5275;
    width: 500px;
    padding: 25px;
    margin: 50px 0px 0px 0px;
    border-radius: 5%;
}

.card-my-rents h1 {
    text-align: center;
    color: aliceblue;
}

#return-btn {
    width: 300px; 
    height: 60px; 
    margin-left: 75px; 
    margin-top: 10px; 
    font-size: 25px;
}