<section>
  <header id="header2">Aluguel</header>

  <div class="grid-container">
    <section class="grid-item" ng-repeat="availableCar in availableCars">
      <div class="card">
        <div class="card-image"><img id="card-img" ng-src="../img/{{availableCar.originalname}}" alt=""></div>
        <h2>{{availableCar.car.model}}</h2>
        <h6>Ano: {{availableCar.car.year}}</h6>
        <h6>Diária: {{availableCar.car.daily_price | currency}}</h6>
        <h6>Chassi: {{availableCar.car.chassi}}</h6>
        <a ng-click="setQueryCar(availableCar.car.id)" id="selectCars" href="">Selecionar</a>
      </div>
    </section>
  </div>

</section>