<section>
    <header id="header2">Olá, {{user.name}}</header>

    <div style="display: flex; justify-content: center;">
        <div class="card-info text-center"
            style="width: 18rem; margin: 30px 0px 0px 0px; background-color: #063146; color: aliceblue;">
            <div class="card-body">
                <h3 class="card-title">NOME</h3>
                <p class="card-text">{{user.name}}</p>
                <a ui-sref="edit-user" class="btn btn-primary">EDITAR</a>
            </div>
        </div>
        <div class="card-info text-center"
            style="width: 18rem; margin: 30px 0px 0px 30px; background-color: #063146; color: aliceblue;">
            <div class="card-body">
                <h3 class="card-title">SENHA</h3>
                <p class="card-text">******</p>
                <a ui-sref="edit-user" class="btn btn-primary">EDITAR</a>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="card-ifno text-center"
            style="width: 18rem; margin: 30px 0px 0px 0px; background-color: #063146; color: aliceblue;">
            <div class="card-body">
                <h3 class="card-title">EMAIL</h3>
                <p class="card-text">{{user.email}}</p>
                <a ui-sref="edit-user" class="btn btn-primary">EDITAR</a>
            </div>
        </div>
        <div class="card-info text-center"
            style="width: 18rem; margin: 30px 0px 0px 30px; background-color: #063146; color: aliceblue;">
            <div class="card-body">
                <h3 class="card-title">CPF</h3>
                <p class="card-text">{{user.cpf | cpf}}</p>
                <a ui-sref="edit-user" class="btn btn-primary">EDITAR</a>
            </div>
        </div>
    </div>

</section>
</div>