<section>
  <header id="header2">Carrinho</header>

  <div class="grid-container">
    <section class="grid-item">
      <div class="card-rent-car">
        <div class="card-image"><img id="card-rent-car-img" ng-src="../img/{{cars.originalname}}" alt=""></div>
        <h2>{{cars.car.model}}</h2>
        <h4>Ano: {{cars.car.year}}</h6>
          <h4>Diária: {{cars.car.daily_price | currency}}</h4>
          <h4>Cidade: {{city}}</h4>
          <h4>Início: {{start_rent}}</h4>
          <h4>Fim: {{end_rent}}</h4>
          <a ng-click="finishRent()" id="selectCars" href="">Finalizar</a>
      </div>
    </section>
  </div>
</section>